html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    text-align: center;
}

p {
    max-width: 60ch;
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
}

hr {
    width: 100%;
    margin: 2rem 0;
    border: 0;
    border-top: 1px solid #ccc;
}

label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: x-small;
    text-transform: uppercase;
}

select {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #666;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1d1d20;
        color: #fff;
    }

    h1,
    p {
        color: #fff;
    }

    hr {
        border-top: 1px solid #616365;
    }

    a {
        color: #abdbec;
    }

    select {
        background-color: #111;
        color: #fff;
        border-color: #5a6065;
    }
}